.body {
  margin: 0;
  /* padding: 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  /* height: 100vh; */
}

h1 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}

.border {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 350px;
  overflow: hidden;
  margin: 30px;
}

#num {
  width: 100%;
  padding: 20px;
  font-size: 3rem;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

.button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(0, 0%, 40%);

}

.button:active {
  background-color: hsl(0, 0%, 50%);

}

#btn-primary {
  background-color: hsl(35, 100%, 50%)
}

#btn-primary:hover {
  background-color: hsl(35, 100%, 60%)
}

#btn-primary:active {
  background-color: hsl(35, 100%, 75%)
}